header {
  height: 75px;
  background-color: lightsteelblue;
}

main {}

body {
  background-image: url("dust_scratches.png");
}

footer {
  height: 75px;
  text-align: center;
  background-color: lightsteelblue;
  font-family: comfortaa;
  padding-top: 10px;
  font-size: 18px;
}

header h1 {
  margin: 0;
  color: black;
  text-align: center;
  font-family: righteous;
  font-size: 48px;
  letter-spacing: 5px;
  padding-top: 8px;
}

main h1 {
  margin: auto;
  font-family: archivo;
}

p {
    font-family: archivo;
}

.wrapper {
  width: 600px;
  margin: auto;
}

img {
  width: 100%;
}

a:link {
  color: cadetblue;
}

a:visited {
  color: darkolivegreen;
}

a:hover {
  color: lightcyan;
}

a:active {
  color: pink;
}

ul {
    font-family: archivo;
}

ol {
    font-family: archivo;
}
